.cabecalho {
    background-color: crimson;
    color: black;
    display: flex;
    padding: 200px 0;
}

.section1 {
    background-color: black;
}

.section2 {
    background-color: blue;
}