.cabecalho{
    background-color:antiquewhite;
    color: black;
    display: flex;
    padding: 24px 0;
}

.section1 {
    background-color:black;
}

.section2 {
    background-color:bisque;
}


