.cabecalho{
    background-color:antiquewhite;
    color:white;
    display: flex;
    padding: 24px 0;
}

.section1 {
    background-color:darkcyan;
}

.section2 {
    background-color:bisque;
}


